/* # State
   ========================================================================== */
.-w-100 {
  width: 100%;
}

.-d-none {
  display: none !important;
}

.-hidden-vis {
  visibility: hidden;
  opacity: 0;
}