@import "src/scss/_common/common";

.wrap {
  position: relative;
  z-index: 1;
  margin: 0 rem(-$main-cont_p-rl--sm) 0 0;
  overflow: hidden;

  @include media('>=sm') {
    margin-right: rem(-$main-cont_p-rl);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: rem(48px);
    background: linear-gradient(
                    270deg,
                    $color-mirage 0%,
                    rgba($color-mirage, 0) 105.47%
    );
  }
}

.header {
  margin: 0 0 rem(32px);
}

.title {
  font-size: rem(22px);
  font-weight: bold;
  margin: 0 0 rem(8px);
}

.desc {
  font-size: rem(14px);
  font-weight: bold;
  color: $color-manatee;
  margin: 0;
}

.items {}

.itemsInner {
  max-width: 2px;
  white-space: nowrap;

  > * {
    width: rem(100px);
    display: inline-block;
    vertical-align: top;

    & + * {
      margin-left: rem(40px);

      @include media('>=md') {
        margin-left: rem(56px);
      }
    }
  }
}