@import "src/scss/_common/common";

$pad: 48px;

.wrap {
  width: 100%;
  z-index: 100;
  padding: rem($pad);
}

.title {
  font-weight: bold;
  font-size: rem(12px);
  text-transform: uppercase;
  color: $color-mandy;
  margin: 0 0 rem(16px);
}

.list {
  @extend %ex_list-unstyled;

  margin: 0 0 rem(56px);
}

.listItem {
  margin: 0 0 rem(18px);
}

.listItemActive {
  position: relative;
  z-index: 1;

  .listLink {
    color: $color-fern;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: rem(-$pad);
    bottom: 0;
    z-index: -1;
    width: rem(56px);
    background: linear-gradient(
                    90deg,
                    rgba($color-fern, 0.54) 0%,
                    rgba($color-fern, 0) 84.62%);
  }
}

.listLink {
  display: flex;
  align-items: center;
  color: $color-white;
  padding: rem(8px) 0;
  transition: all $ts-base--fs;

  :global {
    .icon {
      font-size: rem(24px);
      margin: 0 rem(16px) 0 0;
    }
  }

  span {
    font-weight: bold;
    font-size: rem(12px);
    text-transform: uppercase;
  }

  &:hover {
    text-decoration: none;
    color: $color-fern;
  }
}