@import "src/scss/_common/common";

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: $color-white;
  color: $color-mirage;
}

.btn {
  @extend %ex_res-btn;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: rem(32px);
  line-height: 1;
  width: 1em;
  height: 1em;
  padding: 0;
  background: $color-fern;
  color: $color-white;
  border-radius: 2em;
  box-shadow: 0 4px 5px rgba(#42A349, 0.5);


  :global {
    .icon {
      font-size: rem(16px);
    }
  }
}